[submodule "llvm"]
	path = llvm
	url = https://github.com/autch/llvm-s1c33.git
[submodule "newlib"]
	path = newlib
	url = https://github.com/autch/newlib-s1c33.git
[submodule "piece-emu"]
	path = piece-emu
	url = https://github.com/autch/piece-emu.git
